/*body{
    background-image: url(Page1.png);
    background-repeat: no-repeat;
    
}*/


#pages{
    display: block;

    width: auto;
    height: 100%;
    overflow: auto;
}
img{
        border: 1px solid black;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.controls{
    display: block;
    width: 150px;
    height: 150vh;
    background-color: rgb(94, 94, 143);
}
#lastpage{
    text-align: center;
    color: white;


}
#nextpage{
    color: white;
    text-align: center;
    
}

.buttons{
    color: inherit;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
a{
    color: inherit;
}
